%h2 Add to your backlog
= form_for(@entry, remote: true) do |f|
  %ul
    %li
      %p title:
      = f.text_field :title
    %li
      %p description:
      = f.text_field :description
    %li= f.file_field :thumbnail
  = f.submit "Create", class: "submit-backlog"