.col-lg-8
  .static_well
    %h3.text-center
      Advanced Search
    =form_tag search_path, method: 'get', id: "searchForm" do
      = radio_button_tag(:group, "entries", checked: true)
      = label_tag(:group_type, "Shows/Movies")
      = radio_button_tag(:group, "users")
      = label_tag(:group_type, "Users")
      .input-group
        .search-entries
          = text_field_tag :query, params[:search], placeholder: "Type to search", class: "form-control"
        .input-group-btn
          = submit_tag "More Results", class: "depth btn btn-default"
  .loading-entries
    =image_tag src="loading1.gif"

  = render 'shared/results', group: "entries"
