.col-lg-8
  %h1.greeting.text-center.static_well Following:
  %p.static_well Start typing to find other users
  = render 'shared/entries_search', group: @group, more_results: true, zap: false
  = render 'shared/results', group: @group

  %ul.following
    - @followed_users.all.each do |followed_user|
      - if followed_user.name.blank?
        - name = followed_user.nickname
      - else
        - name = followed_user.name
      %li.new_well
        = link_to image_tag(followed_user.avatar.url(:thumb), class: "img-circle"), user_path(followed_user)
        = link_to name, user_path(followed_user)
        = link_to "unfollow", 'unfollow/' + followed_user.id.to_s, id: "unfollow", remote: true, method: :get, class: "right btn btn-warning"
