.col-lg-8
  .greeting.text-center
    .static_well
      .row
        .h1
          = @user.name
      .inline
        = image_tag(@user.avatar.url(:medium), class: 'img-circle user-img')
        = link_to "follow", "/users/follow/" + @user.id.to_s, remote: true, method: :get, class: "btn btn-success"

  .bottom_margin
    %h3.text-center.static_well
      = (@user.name || @user.nickname) + "'s backlog:"
    - if @user_backlog != nil
      = render 'shared/results'
