- if user_signed_in?
  .col-lg-8
    %h3.text-center.static_well
      =link_to "Others suggestions", zaps_path
      =link_to "Your suggestions", '/zaps/created'

    - if @has_zaps
      %ul.backlog
        - @zaps.each do |zap|
          - entry = zap.entry
          %li.new_well
            - creator = User.find(zap.creator_id)
            - receivor = User.find(zap.receiver_id)
            - message = ""
            - if zap.receiver_id != current_user.id
              - message = "Your zap to " + (receivor.name.blank? ? receivor.nickname : receivor.name)
            - elsif zap.seen == false
              - message = "You have a new zap from " + (creator.name.blank? ? creator.nickname : creator.name)
            - else
              - message = "Zap from " + (creator.name.blank? ? creator.nickname : creator.name)
            %h4= link_to message, zap_path(zap.id)
            %p= entry.title
            = link_to image_tag(creator.avatar.url(:thumb), class: 'img-circle'), user_path(zap.creator_id)
            = link_to image_tag(receivor.avatar.url(:thumb), class: 'img-circle'), user_path(zap.receiver_id)
            - if entry.thumbnail_file_name.blank?
              = link_to image_tag('thumb/missing.png', class: 'img-circle'), entry_path(entry.id)
            - else
              = link_to image_tag(entry.thumbnail_file_name, class: 'img-circle'), entry_path(entry.id)
            %p= zap.message
    - else
      %h2 You don't have any pending zaps!
  .col-lg-4
    %h3.static_well= link_to "Zap your friend", new_zap_path
