- if user_signed_in?
  .col-lg-8
    =form_tag search_path, method: 'get', id: "searchForm" do
      .input-group
        = hidden_field_tag(:group, "entries")
        #search
          = text_field_tag :query, params[:search], placeholder: "Type to search", class: "form-control"
        .input-group-btn
          = submit_tag "More Results", class: "depth btn btn-default"
      .loading
        =image_tag src="loading1.gif"
      = render 'shared/results'

    = form_tag zaps_path, method: 'post' do

      = label :zap, :name, 'Title'
      = text_field :zap, 'title'
      = label :zap, :name, 'message'
      = text_field :zap, 'message'
      = submit_tag 'Save Changes'
