- if user_signed_in?
  .static_well.col-lg-6
    %h2 Zap your friend
    = render 'shared/entries_search', group: @entries, more_results: false, zap: true
    = render 'shared/results', group: @entries

    = render 'shared/entries_search', group: @users, more_results: false, zap: true
    = render 'shared/results', group: @users
  .col-lg-6.static_well
    = form_tag zaps_path, method: 'post' do
      = label :zap, :name, 'Friend'
      = text_field :zap, "username", readonly: true
      %br
      = label :zap, :name, 'Title'
      = text_field :zap, 'title', readonly: true
      %br
      = label :zap, :name, 'message'
      = text_field :zap, 'message'

      = hidden_field_tag(:receiver_id, "")
      = hidden_field_tag(:entry_id, "")
      %br
      = submit_tag 'Save Changes', id: 'submit_zap'
