- if user_signed_in?
  .static_well.col-lg-8
    %h3 Zap your friend
    %h3 What would you like them to watch?
    = render 'shared/entries_search'
    = render 'shared/results'

    = form_tag zaps_path, method: 'post' do

      = label :zap, :name, 'Title'
      = text_field :zap, 'title'
      = label :zap, :name, 'message'
      = text_field :zap, 'message'
      = submit_tag 'Save Changes'
