- if user_signed_in?
  .col-lg-8
    %h3.greeting.static_well
      Hi
      - if not current_user.name.blank?
        = current_user.name
      - elsif current_user.nickname != nil
        = current_user.nickname
      - else
        = current_user.email
      , Press Enter/Go to query Rotten Tomatoes

    = render 'shared/entries_search', group: @group, more_results: true 
    = render 'shared/results'

    %h3.text-center.static_well Your backlog:
    - if current_user.backlog != nil
      %ul.backlog
        - @entries.each do |entry|
          %li.new_well
            -if entry.thumbnail_file_name.blank?
              = link_to image_tag('thumb/missing.png', class: 'img-circle'), entry_path(entry.id)
            - else entry.photo.blank?
              = link_to image_tag(entry.thumbnail_file_name, class: 'img-circle'), entry_path(entry.id)
            - if entry.title.length > 30
              = entry.title[0..30] + "..."
            - else
              = entry.title
            = link_to content_tag(:i, "", class: "fa fa-trash-o fa-2x"), entry, remote: true, method: :delete, class: "deleteEntry"
        =paginate @entries
