- if user_signed_in?
  .col-lg-5
    %h3.greeting.static_well
      Press Enter for New Results
    = render 'shared/entries_search', group: @group, more_results: true, zap: false
    = render 'shared/results', group: @group
  .col-lg-5
    %h3.text-center.static_well
      =link_to "Your backlog:", user_path(current_user)
    %ul.backlog
      - if current_user.backlog != nil
        - @entries.each do |entry|
          %li.new_well
            -if entry.thumbnail_file_name.blank?
              = link_to image_tag('thumb/missing.png', class: 'img-circle'), entry_path(entry.id)
            - else entry.photo.blank?
              = link_to image_tag(entry.thumbnail_file_name, class: 'img-circle'), entry_path(entry.id)
            - if entry.title.length > 30
              = entry.title[0..30] + "..."
            - else
              = entry.title
            = link_to content_tag(:i, "", class: "fa fa-trash-o fa-2x"), entry, remote: true, method: :delete, class: "deleteEntry"
        =paginate @entries
