!!!
%html
  %head
    %title LogFlix
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  - background_image_list = ['bg3', 'bg4', 'bg5', 'bg9']
  - background_image_types = {'bg3' => '.png', 'bg4' => '.jpg', 'bg5' => '.jpg', 'bg9' => '.jpg'}
  - val = (background_image_list.length * rand).floor
  -# - background_path = '../../app/assets/images/actor_backgrounds/'
  - image = background_image_list[val] + background_image_types[background_image_list[val]]
  - background_path = image_path("actor_backgrounds/" + image)
  %body.container-fluid{ style: "background-image: url(" + background_path + "); background-repeat: no-repeat;"}
    .text-center.row.brand
      %h1.static_well
        = link_to "Zappcord", '/'
    - if user_signed_in?
      .col-lg-2.text-center
        %ul.nav.nav-pills.nav-stacked.new_well
          %li
            = link_to image_tag(current_user.avatar.url(:thumb), class: 'img-circle'), '/'
          %li
            = link_to "Settings", edit_user_registration_path
          %li
            = link_to "Following", users_following_path
          %li
            = link_to "Followers", users_followers_path
          %li
            = link_to "Advanced Search", '/search'
          %li
            = link_to "Sign out", destroy_user_session_path, :method => :delete
    .col-lg-10
      = yield
