!!!
%html
  %head
    %title LogFlix
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .sign_in_message
      - if user_signed_in?
        = link_to image_tag(current_user.avatar.url(:thumb)), '/'
        = link_to "Sign out", destroy_user_session_path, :method => :delete
        = link_to "Settings", edit_user_registration_path
        = link_to "Add a new entry", new_entry_path
        = link_to "Following", users_following_path
        = link_to "Followers", users_followers_path
        = link_to "Search", '/search'
      - else
        = link_to "Sign up", '/users/sign_up'
        or #{link_to "Sign in", new_user_session_path}
    = yield
